   margin: 0;
    background: #ececec;
    font-family: arial, sans serif;
display: block;
position: relative;
    overflow: hidden
}

.blink_me {
    animation: 1s linear infinite blinker
}

@keyframes blinker {
    50% {
        opacity: 0
    }
}

.contenedor {
    background: #fafafa;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: justify
}

.contenedor img {
    width: 100%
}

@media (max-width:600px) {
    .contenedor {
        width: 90%
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 15px;
    height: 0;
    overflow: hidden
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
display: inline-block;
    overflow: hidden
}

.btncivil {
    background-color: darkorange;
    border: 3.5px solid #033162;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    width: 50px;
    height: 30px;
    display: inline-block;
    overflow: hidden
}

.dplayer-logo,
[data-watermark-top-right],
.plyr__video-wrapper::before,
.jw-wrapper::before,
#player::before {
    right: 10px !important;
    top: 10px !important;
    max-width: 80px !important;
    left: auto !important
}
